<ion-split-pane contentId="main-content" when="lg">
  <ion-menu contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Pi Portal</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        @for (item of menuItems; track item.title) {
          <ion-menu-toggle auto-hide="false">
            <ion-item
              button
              [detail]="false"
              (click)="selectedMenuItem = item.title">
              <ion-label>{{ item.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        }
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Pi Portal</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      @switch (selectedMenuItem) {
        @case (menuItems[1].title) {
          <p>Data Charts</p>
        }
        @case (menuItems[2].title) {
          @if (status$ | async; as status) {
            <ion-card>
              <ion-card-header>
                <ion-card-title>Health Status</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Name: {{ status.name }}</p>
                <p>Online: {{ status.online }}</p>
                <p>Quelle: {{ status.source }}</p>
                <p>Zeit: {{ status.timestamp }}</p>
              </ion-card-content>
            </ion-card>
          } @else {
            <ion-card>
              <ion-card-content class="loading-card">
                <ion-spinner name="crescent"></ion-spinner>
                <p>Lade Status</p>
              </ion-card-content>
            </ion-card>
          }
        }
        @case (menuItems[3].title) {
          <p>Settings</p>
        
        }  @default {
          <div>
            <h2>Viele bunte Widgets</h2>
            <p>Einfach anklicken und erkunden :O</p>
          </div>
          <div class="widget-container">
            @for (widgetType of widgetTypes; track widgetType) {
              <app-flat-widget [widgetType]="widgetType"></app-flat-widget>
            }
          </div>
          
        }
      }
    </ion-content>
  </div>

</ion-split-pane>